@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);

  /* Tambahkan Animasi Custom */
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(0.95);
    }
  }
}
